.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    text-align: center;
    border: solid 1px black;
}

img {
    width: 100px;
}

.button {
    height: 40px;
    border-radius: 15px;
}